beta.friedenfoundation.org {
        reverse_proxy svelte-app:3000 {
            header_down Strict-Transport-Security max-age=31536000;
            header_up X-Real-IP {remote}
        }
}

api.friedenfoundation.org{
        reverse_proxy pocketbase:8090 {
            header_down Strict-Transport-Security max-age=31536000;
            header_up X-Real-IP {remote}
        }
}